@reference "tailwindcss"

.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6 max-w-2xl mx-auto;
}

.markdown blockquote {
  @apply text-center italic text-xl; /* centered, italic, slightly larger */
}

.markdown h1 {
  @apply text-4xl mt-12 mb-4 leading-snug text-center;
}

.markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug text-center;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug text-center;
}